.layout-desktop {
    display: contents;
    overflow-y: hidden;
    overflow-x: auto
}

.layout-desktop__inner {
    display: flex;
    flex-direction: row-reverse;
    height: 100%
}

.layout-desktop__inner .layout-desktop__menu {
    flex: none;
    height: 100%;
    position: relative
}

@media screen and (max-width: 1200px) {
    .layout-desktop__inner .layout-desktop__menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 66
    }
}

.layout-desktop__inner .layout-desktop__main {
    flex: 1;
    position: relative;
    /* height: 100%; */
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: auto
}

@media screen and (max-width: 1200px) {
    .layout-desktop__inner .layout-desktop__main {
        padding-left: var(--layout-desktop-left-menu-min-width, 63px);
        width: 100%
    }
}

.layout-desktop__main:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s, -webkit-backdrop-filter 1s;
    transition: opacity 1s, backdrop-filter 1s;
    transition: opacity 1s, backdrop-filter 1s, -webkit-backdrop-filter 1s;
    pointer-events: none;
    background-color: var(--layout-desktop-mask-color, rgba(0, 0, 0, .6));
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px)
}

@media screen and (max-width: 1200px) {
    .layout-desktop--menu-open .layout-desktop__main:after {
        opacity: 1;
        pointer-events: auto;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px)
    }

    .layout-desktop__inner .layout-desktop__menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 66;
    }
}

.layout-desktop__main .layout-desktop__header-inner {
    flex: none;
    width: 100%
}

.layout-desktop__header-inner {
    transition: box-shadow 1s
}

.layout-desktop__header-inner--shaded {
    box-shadow: 0 3.3px 5px #0000004d, 0 9.1px 13.8px #00000032, 0 22px 33.2px #00000026, 0 73px 110px #0000001b
}

.layout-desktop__main .layout-desktop__body {
    flex: 1;
    width: 100%;
    overflow: auto
}

.layout-desktop__main .layout-desktop__body-inner {
    display: flex;
    flex-direction: column;
    /* min-height: -webkit-fill-available; */
    min-width: var(--desktop-min-width, 1024px);
    min-height: 851px;
    height: 851px;
}

.layout-desktop__body .layout-desktop__content {
    transition: width 1s;
    position: relative;
    left: 0;
    right: 0;
    background: #043b3d;
}

.layout-desktop__body {
    display: flex;
    flex-direction: column
}

.layout-desktop__content {
    flex: 1
}

.layout-desktop--menu-open .layout-desktop__body .layout-desktop__content {
    width: var(--layout-desktop-content-limit-when-menu-open)
}

.main-wrapper {
    max-width: var(--layout-desktop-content-max-width, 1200px);
    width: calc(100% - var(--layout-desktop-content-limit-gap, 15px) * 2);
    transition: width 1s;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto
}



#depo_btn>*,
#register_btn>* {
    pointer-events: none
}

.header-desktop {
    padding-bottom: var(--header-desktop-height, 60px);
    transform: translateZ(0)
}

.header-desktop__inner {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #012526;
    display: flex;
    justify-content: center
}

.header-desktop__main {
    max-width: var(--layout-desktop-content-max-width, 1200px);
    width: calc(100% - var(--layout-desktop-content-limit-gap, 15px) * 2);
    transition: width 1s;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex: none
}

.header-desktop--shrink .header-desktop__main {
    width: calc(100% - var(--layout-desktop-content-limit-gap, 15px) * 4)
}

.header-desktop__main .header-desktop__latter {
    margin-left: auto
}

.header-desktop__former,
.header-desktop__latter {
    display: flex;
    align-items: center
}

.header-desktop__former>*,
.header-desktop__latter>* {
    flex: none
}

.header-desktop__logo {
    display: block;
    height: 100%;
    width: var(--header-logo-width, 80px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 1
}

.header-desktop__logo:hover {
    opacity: .7
}

.header-desktop__user,
.header-desktop__deposit-label,
.header-desktop__main-wallet-label,
.header-desktop__mode-switch,
.header-desktop__auth-container button,
.header-desktop__lang-switch {
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s
}

.header-desktop__user:hover,
.header-desktop__deposit-label:hover,
.header-desktop__main-wallet-label:hover,
.header-desktop__mode-switch:hover,
.header-desktop__auth-container button:hover,
.header-desktop__lang-switch:hover {
    opacity: .8
}

.header-desktop__user,
.header-desktop__mode-switch {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover
}

.header-desktop__lang-switch {
    height: 20px
}

.header-desktop__lang-switch img {
    height: 100%
}

.header-desktop__item {
    position: relative
}

.header-desktop__item-bg {
    position: absolute;
    top: 65%;
    right: 65%;
    width: 15px;
    height: 15px;
    transform: translate(150%, -150%);
    border-radius: 50%;
    background: var(--sidenav-set-shortcut-add-icon-bg)
}

.header-desktop__item-bg-notice {
    display: block;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    text-align: center;
    color: var(--sidenav-set-shortcut-add-icon-color)
}

.header-desktop__item+.header-desktop__item {
    margin-left: 16px
}

.deposit-label {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background: var(--deposit-label-bg, #3b392f)
}

.deposit-label>*+* {
    margin-left: 10px
}

.deposit-label__deposit {
    width: 20px;
    height: 14px;
    background-position: center;
    background-size: cover
}

.deposit-label__deposit img {
    width: 100%
}

.deposit-label__title {
    font-weight: 400;
    font-size: 14px;
    color: var(--main-deposit-text, #fff)
}

.main-wallet-label {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background: var(--main-wallet-label-bg, #3b392f)
}

.main-wallet-label>*+* {
    margin-left: 10px
}

.main-wallet-label__refresh {
    width: 14px;
    height: 14px;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    background-color: var(--main-wallet-label-text, #fff)
}

.main-wallet-label__refresh img {
    width: 100%
}

.main-wallet-label--clicked .main-wallet-label__refresh {
    animation: _ngcontent-serverApp-c3097326535_rotate 1s
}

.main-wallet-label__title {
    font-weight: 400;
    font-size: 14px;
    color: var(--main-wallet-label-text, #fff)
}

.main-wallet-label__value {
    font-weight: 700;
    font-size: 14px;
    color: var(--main-wallet-label-text, #fff)
}

.auth-container {
    display: flex;
    align-items: center
}

.auth-container__button {
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 12px;
    border: none
}
.auth-container__button--primary {
    background: #61d81f;
    color: var(--header-btn-color, #fff);
}
.auth-container__button--secondary {
    background: #064b4d;
    color: var(--header-btn-color-secondary, #fff);
}
.auth-container>.auth-container__button {
    flex: none;
    min-width: 105px;
    padding: 10px
}

.auth-container__button+.auth-container__button {
    margin-left: 5px
}

.cricket-money {
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    background: var(--header-login-btn-bg, #000);
    color: var(--header-login-btn-txt, #fff);
    margin-left: 10px;
    padding: 9px
}

.exp {
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
    background: var(--header-exp-btn-bg, #000);
    color: var(--header-exp-btn-txt, #fff);
    margin-right: 10px;
    padding: 9px
}

.icon-refresh {
    width: 16px;
    height: 16px;
    background: var(--header-refresh-icon-color);
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    margin-right: 4px
}

.icon-refresh.active {
    animation: _ngcontent-serverApp-c3097326535_rotate 1s forwards
}

@keyframes _ngcontent-serverApp-c3097326535_rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}







@keyframes _ngcontent-serverApp-c568765798_fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: var(--layout-desktop-left-menu-max-width, 250px);
    transition: width .3s;
    -webkit-overflow-scrolling: touch;
    color: var(--leftmenu-head-btn-txt, #ffffff)
}

.left-menu--mini {
    width: var(--layout-desktop-left-menu-min-width, 63px);
    transition: width .3s ease-in .2s
}

.left-menu--mini .left-menu__component-slot {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in;
    display: none
}

.left-menu--mini .left-menu__head-item {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in
}

.left-menu__content {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background:#012526;
    padding-bottom: 50px
}

.left-menu__head {
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 30px 0 10px;
    background: var(--leftmenu-head-bg, #1f1f1f);
    transition: .2s height, .5s background;
    gap: 6px
}

.left-menu__head--auto {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 30px 10px 10px
}

.left-menu__head.need-hide {
    height: 0
}

.left-menu--mini .left-menu__head {
    background: var(--leftmenu-head-bg-mini);
    height: 60px
}

.left-menu__component-slot {
    transition: opacity .3s ease-in;
    padding-top: 10px;
    background: var(--leftmenu-head-bg, #1f1f1f)
}

.left-menu__head .left-menu__head-item {
    flex: 1
}

.left-menu__head .left-menu__head-item:nth-child(n+4) {
    display: none
}

.left-menu__head-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    transition: transform .5s
}

.left-menu__head-arrow.need-hide {
    transform: translate(50%, 30%)
}

.left-menu--mini .left-menu__head-arrow {
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: _ngcontent-serverApp-c568765798_fadeIn 1.5s forwards
}

.head-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    background: var(--leftmenu-head-btn-bg, #2d2e30);
    color: var(--leftmenu-head-btn-txt, #ffffff);
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in .2s;
    padding: 10px;
    max-width: 210px
}

.head-item--highlight {
    background: var(--leftmenu-head-btn-bg-highlight, #454545);
    color: var(--leftmenu-head-btn-txt-highlight, #fff)
}

.head-item:hover {
    opacity: .7
}

.head-item__icon {

    display: block;
    width: 6.4rem;
    height: 6.4rem;
    transition: transform .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex: none;
    background: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mask-size: contain;
    background-color: var(--left-menu-icon-bg);

}

.head-item__icon+.head-item__text {
    margin-left: 6px
}

.head-item__text {
    font-weight: 600;
    font-size: 14px
}

.head-arrow {
    cursor: pointer;
    width: 40px;
    height: 28px;
    background: var(--leftmenu-head-arrow-bg, #2d2e30);
    border-radius: 30px;
    transition: opacity .3s ease-in .2s
}

.head-arrow:hover {
    opacity: .7
}

.head-arrow__icon {
    width: 100%;
    height: 100%;
    background: var(--leftmenu-head-arrow-icon, #e9e9e9);
    transform: rotate(270deg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 40%;
    transition: transform .5s
}

.head-arrow--active .head-arrow__icon {
    transform: rotate(90deg)
}

.left-menu-content__toggle-box {
    width: 100%;
    border-bottom: 1px solid var(--leftmenu-category-border, #454545)
}

.left-menu-content__home {
    border-bottom: 1px solid var(--leftmenu-category-border, #454545)
}

.left-menu-content__item--grouped+*:not(.left-menu-content__item--grouped) {
    border-top: 1px solid var(--leftmenu-category-border, #454545)
}

*:not(.left-menu-content__item--grouped)+.left-menu-content__item--grouped {
    border-top: 1px solid var(--leftmenu-category-border, #454545)
}

.nav-item {
    position: relative
}

.nav-item__head {
    cursor: pointer;
    padding: 10px 10px 10px 23px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.nav-item__collapse-arrow {
    opacity: 1;
    transition: opacity .3s, transform .5s
}

.nav-item__head .nav-item__collapse-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transform-origin: 50% 50%
}

.nav-item__link {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px 10px 23px
}

.nav-item__icon {
    display: block;
    width: 6.4rem;
    height: 6.4rem;
    transition: transform .5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex: none;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mask-size: contain;
    background-color: var(--left-menu-icon-bg);
}

.nav-item--mini .nav-item__icon {
    transition: transform .5s .5s;
    transform: translate(calc((var(--layout-desktop-left-menu-min-width, 63px) - 24px) / 2 - 26px))
}

.nav-item__icon+.nav-item__text {
    margin-left: 16px
}

.nav-item__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 18px;
    opacity: 1;
    color: var(--leftmenu-category-txt, #ffffff);
    transition: opacity .3s
}

.nav-item--collapsed .nav-item__collapse-arrow {
    transform: translateY(-50%) rotate(180deg)
}

.nav-item--mini .nav-item__collapse-arrow {
    opacity: 0;
    pointer-events: none
}

.nav-item--mini .nav-item__text {
    opacity: 0;
    pointer-events: none;
    display: none
}

.nav-item--router {
    display: flex;
    cursor: pointer;
    align-items: center
}

.nav-item--descend {
    background-color: var(--leftmenu-category-sec-bg, #353638);
    padding: 12px 12px 12px 40px
}

.nav-item--descend .nav-item__icon {
    width: 18px;
    height: 18px
}

.nav-item--descend .nav-item__icon+.nav-item__text {
    margin-left: 8px
}

.nav-item--descend .nav-item__text {
    font-weight: 400
}

.nav-item-reminder {
    position: absolute;
    top: 0;
    right: -4px
}

.nav-item-reminder__icon {
    width: 40px
}

.nav-item-body__link {
    cursor: pointer;
    display: flex;
    align-items: center
}

.toggle-box {
    padding: 10px 10px 10px 23px
}

.toggle-box__title {
    display: flex;
    align-items: center;
    flex: none;
    color: var(--toggle-box-txt, rgba(255, 255, 255, .8));
    overflow: hidden;
    line-height: 1.5em;
    text-wrap: nowrap
}

.toggle-box__title:after {
    content: "";
    display: inline-block;
    flex: none;
    width: 5px
}

.toggle-box__inner {
    width: 45px;
    margin-left: 0;
    transition: transform .8s;
    transform: none
}

.toggle-box--fold .toggle-box__inner {
    transform: translate(calc((var(--layout-desktop-left-menu-min-width, 63px) - 45px) / 2 - 23px))
}

.toggle-box__switch {
    background: var(--toggle-box-bg, #b1b1b1)
}

.toggle-box__input:checked~.toggle-box__switch {
    background: var(--toggle-box-bg, #1f1f1f)
}

.item-sport {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.collapse-arrow {
    width: 40px;
    height: 28px;
    opacity: 1;
    transition: .3s ease-in .2s
}

.collapse-arrow__icon {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--leftmenu-category-arrow-icon, #e9e9e9);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 40%;
    transition: .3s ease-in;
    transform: rotate(180deg)
}


.left-menu__content::-webkit-scrollbar {
    width: 6px;
    /* change this value — smaller = thinner scrollbar */
    height: 6px;
    /* for horizontal scrollbars */
}